.classe1{
    color: darkgreen;font-weight: 800; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.classe2{
    color: darkgoldenrod;font-weight: 500; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
